extends layout

block content
  div(class='showImage')
    img(src='#{image}')
  div(class='showDesc')
    h1= title
    p IMDB Rating: #{rating}
    p Plot: #{plot}
    p Director: #{director}
    p Length: #{movieLength}
    p Genre: #{genre}
  form(action='javascript:history.go(-1)')
    input(type='submit' value='Tillbaka' class='backButton')